<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    margin: 82px auto 32px;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    /* padding-bottom should 
    be the same as high of footer 
    to prevent contend hiding*/
    padding-bottom: 8rem;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 1000px;
    border-radius: 6px;
    padding-top: 3rem;
    margin-top: 1rem;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  /*The ::before selector inserts something 
  before the content of each selected element(s).*/
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  /* Makes text preformatted  
  for the terminal class */
  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
    font-size: 1.2rem;
  }

  .footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding-top: 10px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
  }

  .card {
    all: unset;
    border-radius: 6px;
    background-color: #b8dcff;
    height: 10px;
    width: 150px;
    margin: 1px 1px 8px 1px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    line-height: 24px;
  }

  .card-toolbar {
    all: unset;
    border-radius: 6px;
    background-color: #ffffff;
    height: 10px;
    width: 150px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
    margin-top: 15px;
    float: right;

  }

  .card-container .card:not(.highlight-card):hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-toolbar-container .card-toolbar:not(.highlight-card):hover {
    cursor: pointer;
    background-color: #b0b0b0;
  }

  .card svg.material-icons path {
    fill: #333
  }

  svg.material-icons {
    height: 30px;
    width: auto;
    padding-left: 10px;
  }

  svg.td {
    height: 20px;
    width: auto;
    /* will result in a right-side 
    alignment if combined with display: flex*/
    margin-left: auto;
    padding-right: 10px;
  }

  td {
    border-bottom: 3px solid rgb(227, 227, 227);
    text-align: left;
  }

  th {
    border-bottom: 3px solid rgb(227, 227, 227);
    background-color: #e9e9e9;
    cursor: pointer;
    border-radius: 6px;
    padding-left: 10px;
    text-align: left;
    /* fading color change on hover*/
    transition: 0.3s;
  }

  .th-container {
    /* Adding display: flex in the parent element.
    will arrange the children of that element in the same row.*/
    display: flex;
    /* horizontally align*/
    align-items: center;
    margin-top: 8px;
  }

  th:hover {
    background-color: #b0b0b0;

  }

  .toolbar {
    position: fixed;
    display: table;
    right: 0px;
    top: 0px;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    width: 100%;
    margin-top: 10;
  }

  .toolbar span {
    padding-left: 10px;
    display: table-cell;
    margin-top: 20px;
    margin-bottom: auto;
  }
 

  input {
    border-radius: 6px;
    width: 80%;
    height: 30px;
    margin-top: -10px;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #333;
    font-weight: 600;
  }
</style>

<!-- Toolbar -->
<div class="toolbar">
  <span style="width: 30%; padding-bottom: 12px;">
    <h1>TOTP Manager</h1>
  </span>
  <span style="width: 40%;">
    <span style="width: 10%;">
      <h1>Search:</h1>
    </span>
    <span>
      <input type="text" (keyup)="search($event)">
    </span>
  </span>
  <span style="width: 30%;">
    <div class="card-toolbar-container">
      <button class="card-toolbar" tabindex="0">
        <h2 style="color: #333;">Load JSON</h2>
      </button>
    </div>
  </span>
</div>

<!-- Content -->
<div class="content" role="main">
  <table width="100%">
    <tr>
      <th (click)="sortUpDown('label')">
        <div class="th-container">
          <h2>ID</h2>
          <svg class="td" xmlns="http://www.w3.org/2000/svg" viewBox="0 4 21 21">
            <path d="M12 8H8.001L8 20H6V8H2l5-5 5 5zm10 8l-5 5-5-5h4V4h2v12h4z" />
          </svg>
        </div>
      </th>
      <th>
        <h2>Code</h2>
      </th>
      <th>
        <h2>Validity (s)</h2>
      </th>
    </tr>
    <tr *ngFor="let item of searchResult">
      <td width="10%">
        <h2>{{item.label}}</h2>
      </td>
      <td>
        <div class="card-container">
          <button class="card" (click)="onSelect(item.code)" tabindex="0">
            <span>
              <h2> {{item.code}} </h2>
            </span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M17.391,2.406H7.266c-0.232,0-0.422,0.19-0.422,0.422v3.797H3.047c-0.232,0-0.422,0.19-0.422,0.422v10.125c0,0.232,0.19,0.422,0.422,0.422h10.125c0.231,0,0.422-0.189,0.422-0.422v-3.797h3.797c0.232,0,0.422-0.19,0.422-0.422V2.828C17.812,2.596,17.623,2.406,17.391,2.406 M12.749,16.75h-9.28V7.469h3.375v5.484c0,0.231,0.19,0.422,0.422,0.422h5.483V16.75zM16.969,12.531H7.688V3.25h9.281V12.531z">
              </path>
            </svg>
          </button>
        </div>
      </td>
      <td style="text-align: center;">
        <h2>{{item.validTime}}</h2>
      </td>
    </tr>
  </table>
</div>

<!-- Footer -->
<div class="footer">
  <div class="terminal">
    <pre>{{selected}}</pre>
  </div>
</div>