<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    color: rgb(245, 245, 245);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    white-space: nowrap;
  }

  input {
    padding-left: 0.5rem;
    border-radius: 6px;
    height: 2rem;
    font-size: 25px;
    width: 100%;
    max-width: 990px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
  }

  .card-container .card:not(.highlight-card):hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    background-color: #1976d2;
    color: white;
    fill: white;

  }

  .card-container .card:not(.highlight-card):active {
    background-color: #ffffff;
    color: black;
    fill: black;
  }

  .card {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #b8dcff;
    height: 10px;
    width: 150px;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
  }

  .load {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #b8dcff;
    height: 10px;
    padding: 1rem;
    margin-right: 1rem;
    width: 200px;
    transition: all 0.1s ease-in-out;
  }

  .load:hover {
    background-color: #ffffff;
    color: black;
    fill: black;
  }

  .load:active {
    background-color: #1976d2;
    color: white;
    fill: white;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;

    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background-color: #1976d2;

    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .terminal {
    position: relative;
    width: 100%;
    max-width: 1000px;
    border-radius: 6px;
    padding-top: 3rem;
    margin-top: 1rem;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  /*The ::before selector inserts something 
  before the content of each selected element(s).*/
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 1rem 0;
    text-indent: 4px;
  }

  /* Makes text preformatted  
  for the terminal class */
  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }

  .content {

    width: 100%;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;

    /* padding-bottom/top should 
    be the same as high of footer/header 
    to prevent contend hiding*/
    margin-bottom: 9rem;
    margin-top: 6rem;

  }

  th {
    text-align: left;
    background-color: #eceff1;
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
  }

  td {
    border-bottom: 3px solid rgb(227, 227, 227);
  }

  .thcontainer {
    text-align: left;
    background-color: #eceff1;
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 2rem;
    cursor: pointer;
    transition: 0.1s;
  }

  .thcontainer:hover {
    background-color: #babec1;
  }

  .thcontainer:active {
    background-color: #b8dcff;
  }

  svg {
    margin-left: 0.8rem;
    height: 1.8rem;
    width: auto;
  }
</style>

<!-- Toolbar -->
<div class="toolbar">
  <h1>TOTP Manager</h1>
  <input type="text" (keyup)="search($event)" placeholder="search here...">
  <input style="display: none" type="file" multiple (change)="onFileChanged($event)" #fileInput />
  <button class="load" (click)="fileInput.click()">
    <h2>Load JSON</h2>
  </button>
</div>

<!-- Content -->
<div class="content" role="main">
  <table style="width: 100%;">
    <tr>
      <th class="thcontainer" (click)="sortUpDown('label')">
        <h2>⮃ ID</h2>
      <th>
        <h2>Code</h2>
      </th>
      <th>
        <h2>Validity (s)</h2>
      </th>
    </tr>
    <tr *ngFor="let item of searchResult">
      <td style="max-width: 60%;">
        <h2>{{item.label}}</h2>
      </td>
      <td style="max-width: 20%;">
        <div class="card-container">
          <button class="card" (click)="onSelect(item.code)">
            <span>
              <h2> {{item.code}} </h2>
            </span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M17.391,2.406H7.266c-0.232,0-0.422,0.19-0.422,0.422v3.797H3.047c-0.232,0-0.422,0.19-0.422,0.422v10.125c0,0.232,0.19,0.422,0.422,0.422h10.125c0.231,0,0.422-0.189,0.422-0.422v-3.797h3.797c0.232,0,0.422-0.19,0.422-0.422V2.828C17.812,2.596,17.623,2.406,17.391,2.406 M12.749,16.75h-9.28V7.469h3.375v5.484c0,0.231,0.19,0.422,0.422,0.422h5.483V16.75zM16.969,12.531H7.688V3.25h9.281V12.531z">
              </path>
            </svg>
          </button>
        </div>
      </td>
      <td style="max-width: 20%; text-align: center;">
        <h2>{{item.validTime}}</h2>
      </td>
    </tr>
  </table>
</div>

<!-- Footer -->
<div class="footer">
  <div class="terminal">
    <pre>{{selected}}</pre>
  </div>
</div>